<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8GBDZE0HME"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8GBDZE0HME');
  </script>
  <title>{% block title %}Canonical Masterclasses{% endblock %}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ versioned_static('css/styles.css') }}" />
  <link rel="shortcut icon" href="https://assets.ubuntu.com/v1/be7e4cc6-COF-favicon-32x32.png" type="image/x-icon" />
</head>

<body class="l-site is-paper">
  <header id="navigation" class="p-navigation is-dark">
    <div class="p-navigation__row--25-75">
      <div class="p-navigation__banner">
          <div class="p-navigation__tagged-logo">
            <a class="p-navigation__link" href="/">
              <div class="p-navigation__logo-tag">
                <img class="p-navigation__logo-icon" src="https://assets.ubuntu.com/v1/82818827-CoF_white.svg" alt="">
              </div>
              <span class="p-navigation__logo-title">Canonical Masterclass</span>
            </a>
          </div>
          <ul class="p-navigation__items">
            <li class="p-navigation__item">
              <button class="js-menu-button p-navigation__link">Menu</button>
            </li>
          </ul>
        </div>

        <nav class="p-navigation__nav" id="main-nav">
          <ul class="p-navigation__items js-dropdown-nav-list js-navigation-sliding-panel">
            <li class="p-navigation__item">
              <a class="p-navigation__link" href="/videos">Videos</a>
            </li>
            <li class="p-navigation__item--dropdown-toggle" id="sprints-toggle">
              <a href="#sprints-toggle-menu" aria-controls="sprints-toggle-menu" class="p-navigation__link">Sprints</a>
              <ul class="p-navigation__dropdown" id="sprints-toggle-menu" aria-hidden="true">
                <li>
                  <a href="/events/commercial-sprint-vienna-2026" class="p-navigation__dropdown-item">Commercial Sprint Vienna 2026</a>
                </li>
                <li>
                  <a href="/events/engineering-sprint-gothenburg-2025" class="p-navigation__dropdown-item">Engineering Sprint Gothenburg 2025</a>
                </li>
                <li>
                  <a href="/events/roadmap-sprint-gothenburg-2025" class="p-navigation__dropdown-item">Roadmap Sprint Gothenburg 2025</a>
                </li>
                <li>
                  <a href="/events/commercial-sprint-berlin-2025" class="p-navigation__dropdown-item">Commercial Sprint Berlin 2025</a>
                </li>
                <li>
                  <a href="/events/engineering-sprint-frankfurt-2025" class="p-navigation__dropdown-item">Engineering Sprint Frankfurt 2025</a>
                </li>
                <li>
                  <a href="/events/roadmap-sprint-frankfurt-2025" class="p-navigation__dropdown-item">Roadmap Sprint Frankfurt 2025</a>
                </li>
              </ul>
            </li>
            <li class="p-navigation__item">
              <a class="p-navigation__link" href="/register">Register Session</a>
            </li>
            {% if live_videos %}
              {% if request.endpoint != 'masterclasses.index' %}
              <li class="p-navigation__item p-navigation__item--live">
                <a href="{{ live_videos[0].stream }}" class="p-navigation__link">
                  <span class="live-dot"></span>
                  <span style="color: #c7162b;"></span>
                  <span class="u-truncate"> {{ live_videos[0].title }}</span>
                </a>
              </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
  </header>

  <main class="p-content">
    {% block content %}{% endblock %}
  </main>

  <footer class="l-footer--sticky p-strip is-dark is-shallow">
    <div class="row">
      <div class="col-12">
        ©  Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical Ltd.
        <nav>
          <ul class="p-inline-list--middot">
            <li class="p-inline-list__item">
              <a href="https://www.ubuntu.com/legal">Legal info</a>
            </li>
            <li class="p-inline-list__item">
              <a href="https://github.com/canonical/masterclasses.canonical.com/issues/new">Report a bug with this site</a>
            </li>
          </ul>
          <span class="u-off-screen">
            <a href="#">Go to the top of the page</a>
          </span>
        </nav>
      </div>
    </div>
  </footer>
</body>
</html>

<script>
  function initNavigation(element) {
    const menuButton = element.querySelector('.js-menu-button');
    if (menuButton) {
      menuButton.addEventListener('click', toggleMenu);
    }

    function toggleMenu(e) {
      e.preventDefault();

      const navigation = e.target.closest('.p-navigation');
      if (navigation.classList.contains('has-menu-open')) {
        closeMenu();
      } else {
        closeMenu();
        openMenu(e);
      }
    }

    function openMenu(e) {
      e.preventDefault();
      const navigation = e.target.closest('.p-navigation');
      const nav = navigation.querySelector('.p-navigation__nav');

      const buttons = document.querySelectorAll('.js-menu-button');

      buttons.forEach((searchButton) => {
        searchButton.setAttribute('aria-pressed', true);
      });

      navigation.classList.add('has-menu-open');
      document.addEventListener('keyup', keyPressHandler);
    }

    function closeMenu() {
      const navigation = document.querySelector('.p-navigation');
      const nav = navigation.querySelector('.p-navigation__nav');

      const banner = document.querySelector('.p-navigation__banner');
      const buttons = document.querySelectorAll('.js-menu-button');

      buttons.forEach((searchButton) => {
        searchButton.removeAttribute('aria-pressed');
      });

      navigation.classList.remove('has-menu-open');
      document.removeEventListener('keyup', keyPressHandler);
    }

    function keyPressHandler(e) {
      if (e.key === 'Escape') {
        closeMenu();
      }
    }
  }

  const navigation = document.querySelector('#navigation');
  initNavigation(navigation);

  function toggleDropdown(toggle, open) {
    const parentElement = toggle.parentNode;
    const dropdown = document.getElementById(toggle.getAttribute('aria-controls'));
    dropdown.setAttribute('aria-hidden', !open);

    if (open) {
      parentElement.classList.add('is-active');
    } else {
      parentElement.classList.remove('is-active');
    }
  }

  function closeAllDropdowns(toggles) {
    toggles.forEach(function(toggle) {
      toggleDropdown(toggle, false);
    });
  }

  function handleClickOutside(toggles, containerClass) {
    document.addEventListener('click', function(event) {
      const target = event.target;

      if (target.closest) {
        if (!target.closest(containerClass)) {
          closeAllDropdowns(toggles);
        }
      }
    });
  }

  function initNavDropdowns(containerClass) {
    const toggles = [].slice.call(document.querySelectorAll(containerClass + ' [aria-controls]'));

    handleClickOutside(toggles, containerClass);

    toggles.forEach(function(toggle) {
      toggle.addEventListener('click', function(e) {
        e.preventDefault();

        const shouldOpen = !toggle.parentNode.classList.contains('is-active');
        closeAllDropdowns(toggles);
        toggleDropdown(toggle, shouldOpen);
      });
    });
  }

  initNavDropdowns('.p-navigation__item--dropdown-toggle');
</script>