{% extends "base.html" %}
{% from "shared/_upcoming_session.html" import upcoming_session %}
{% from "_macros/vf_hero.jinja" import vf_hero %}
{% from "_macros/vf_tiered-list.jinja" import vf_tiered_list %}

{% block content %}
{% call(slot) vf_hero(
  title_text='Masterclass',
  subtitle_text='Your one-stop video library for Canonical talks',
  layout='50/50'
) -%}
{%- if slot == 'description' -%}
<p>
  All our internal talks are recorded and made available here for you to watch at your leisure.
  From product deep dives to technical talks, we've got you covered. Curated by the events team,
  these sessions cover everything from Ubuntu and cloud infrastructure to marketing and leadership.
  Whether you're looking to expand your knowledge or catch up on a session you missed, you'll find valuable content here.
</p>
{%- endif -%}
{%- if slot == 'cta' -%}
<a href="/videos" class="p-button--positive">Explore Catalog</a>
<a href="/random" class="p-button">I'm feeling lucky</a>
{%- endif -%}
{%- if slot == 'image' -%}
<div class="p-image-container--3-2 u-hide--medium u-hide--small">
  {{ image(url="https://assets.ubuntu.com/v1/3a4d4155-Training.svg",
    alt="",
    width="480",
    height="240",
    hi_def=True,
    loading="auto",
    attrs={"class": "p-image-container__image"}
    ) | safe
  }}
</div>
{%- endif -%}
{% endcall -%}


{# prepare list of up to 4 upcoming sessions #}
{# TODO: move the logic to backend? #}
{% set upcoming = [] %}
{% for video in live_videos %}
  {% if upcoming|length < 4 %}
    {% set _=upcoming.append([video, 'live']) %}
  {% endif %}
{% endfor %}

{% if upcoming_videos_24h and shown|length < 4 %}
  {% set _=upcoming.append([upcoming_videos_24h[0], 'soon']) %}
{% endif %}

{% if upcoming_videos_future and shown|length < 4 %}
  {% set _=upcoming.append([upcoming_videos_future[0], 'future']) %}
{% endif %}

{%- call(slot) vf_tiered_list(is_list_full_width_on_tablet=true) -%}
{%- if slot == 'title' -%}
<h2>Upcoming sessions</h2>
{%- endif -%}

{%- for session in upcoming -%}
{%- set video = session[0] -%}
{%- set session_type = session[1] -%}

{%- if slot == ('list_item_title_' ~ loop.index) -%}
{%- if session_type == 'live' -%}
  <a href="{{ video.stream }}">
    <h3 class="p-heading--5">
      <span style="position: relative;top: -.1rem;left: .3rem;" class="live-dot"></span>
      <span>{{ video.title }}</span>
    </h3>
  </a>
{%- else -%}
  <h3 class="p-heading--5">
    <a href="{{ video.calendar_event }}">{{ video.title }}</a>
  </h3>
{%- endif -%}
{%- endif -%}

{# based on macro in _upcoming_session.html #}
{# TODO: move some of the logic (time calculations?) to backend? #}
{%- if slot == ('list_item_description_' ~ loop.index) -%}
<div class="description-truncate">{{ video.description|markdown|safe }}</div>
<p class="p-text--small u-text-muted">
  <i class="p-icon--user"></i>&nbsp;
  {%- set presenters = video.presenters -%}
  {%- if presenters|length <= 2 -%}
    {%- for presenter in presenters -%}
      {{ presenter.name }}{% if not loop.last %}, {% endif %}
    {%- endfor -%}
  {%- else -%}
    {{ presenters[0].name }}, {{ presenters[1].name }} et al.
  {%- endif -%}
</p>
{%- if session_type == 'soon' -%}
<p class="p-text--small u-text-muted">
  <i class="p-icon--notifications"></i>&nbsp;
  {%- set time_diff = video.unixstart - now -%}
  {%- set hours = (time_diff / 3600)|int -%}
  {%- set minutes = ((time_diff % 3600) / 60)|int -%}
  {%- if hours > 0 -%}
    {{ hours }}h {{ minutes }}m
  {%- else -%}
    {{ minutes }}m
  {%- endif -%}
</p>
{%- elif session_type == 'future' -%}
<p class="p-text--small u-text-muted">
  <i class="p-icon--revisions"></i>&nbsp;{{ video.unixstart|format_date }}
</p>
{%- endif -%}
{%- endif -%}
{%- endfor -%}
{%- endcall -%}

<section class="p-strip is-light">
  <div class="row">
    <div class="col-9">
      <h3 class="p-muted-heading u-sv2">Something missing?</h3>
      <p class="p-heading--3">If you would like to see a topic covered but you don't have the knowledge, submit an idea
        to the team.</p>

      <a href="/register" class="p-button u-no-margin--bottom">
        Register an idea
      </a>

    </div>
  </div>
</section>

{% endblock %}