{% extends "base.html" %}

{% block content %}
<section class="p-strip--image is-bordered"
  style="background-image: url('https://assets.ubuntu.com/v1/293d19c5-rockybgfooter.jpg');">
  <div class="row">
    <div class="col-6">
      <h1 class="">Masterclasses</h1>
      <p class="p-muted-heading">Watch all the talks brought to you by the Canonical team</p>
      <p>
        <a href="https://forms.gle/gRGH1xPZmUwq9mcX9" class="p-button--positive u-no-margin--bottom">
          Register your session
        </a>
      </p>
    </div>
  </div>
</section>

<section class="p-strip u-no-padding--bottom u-no-padding--top">
  <div class="row">
    <div class="p-tabs">
      <div class="p-tabs__list" role="tablist">
        <div class="p-tabs__item">
          <button class="p-tabs__link" role="tab" aria-selected="true" aria-controls="masterclasses-tab" id="masterclasses">Masterclasses</button>
        </div>
        <div class="p-tabs__item">
          <button class="p-tabs__link" role="tab" aria-selected="false" aria-controls="sprint-tab" id="sprint" tabindex="-1">Sprint presentations</button>
        </div>
      </div>
    </div>
  </div>
</section>

<div tabindex="0" role="tabpanel" id="masterclasses-tab" aria-labelledby="masterclasses">
<section class="p-strip is-shallow u-no-padding--bottom is-bordered" id="masterclasses">
  <div class="row">
    <div class="p-divider u-no-margin--bottom">
      {% if upcoming_sessions %}
      <div class="col-3 p-divider__block">
        <h2 class="p-heading--3">Upcoming sessions</h2>
        <ul class="p-list--divided">
          {% for session in upcoming_sessions %}
          <li class="p-list__item">
            <div class="p-media-object--small">
              <div class="p-media-object__details">
                <h3 class="p-media-object__title">
                  {{ session.topic }}
                </h3>
                <p class="p-media-object__content">Hosted by {{ session.owner }}</p>
                <p class="p-media-object__content">{{ session.notes }}</p>
                <ul class="p-media-object__meta-list">
                  {% if session.date %}
                  <li class="p-media-object__meta-list-item--date">
                    <span class="u-off-screen">Date: </span>{{ session.date }}
                  </li>
                  <!-- Add to calendar btn uses a gcal published event https://support.google.com/calendar/answer/41207 -->
                  <li class="p-media-object__meta-list-item--date">
                    <a href="{{ session.event }}" target="_blank" rel="noopener noreferrer">
                      Add to Google Calendar
                    </a>
                  </li>
                  {% else %}
                  <li class="p-media-object__meta-list-item--date">
                    <span class="u-off-screen">Date: </span>To be scheduled
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-9 p-divider__block">
      {% else %}
      <div class="col-12 p-divider__block">
      {% endif %}
        <div class="row">
          <form class="p-search-box">
            <label class="u-off-screen" for="search-input">Search</label>
            <input type="search" id="search-input" class="p-search-box__input" name="search" placeholder="Search"
              required="" autocomplete="on">
            <button id="reset-search" type="reset" class="p-search-box__reset"><i class="p-icon--close">Close</i></button>
            <button id="submit-search" type="submit" class="p-search-box__button"><i
                class="p-icon--search">Search</i></button>
          </form>
        </div>
        <h2 class="p-heading--5">Filter previous sessions by topic</h2>
        {% for key,value in tags.items() %}
        <button class="p-chip">
          <span class="p-chip__value">{{ key }}</span>
          <span class="p-badge" aria-label="{{ value }} videos exist">{{ value }}</span>
        </button>
        {% endfor %}
        <div class="row">
          <h2 class="p-heading--3">Previous sessions</h2>
          <div class="u-equal-height">
            {% for session in previous_sessions %}
            {% with session=session %}
            {% include "shared/_card--masterclass.html" %}
            {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


<div tabindex="0" role="tabpanel" id="sprint-tab" aria-labelledby="sprints" hidden="true">
<section class="p-strip is-shallow u-no-padding--bottom is-bordered">
  <div class="row">
    <div class="p-divider u-no-margin--bottom">
        <div class="row">
          <div class="u-equal-height">
            {% for session in sprint_sessions %}
            {% with session=session %}
            {% include "shared/_card--masterclass.html" %}
            {% endwith %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section class="p-strip--light is-shallow is-bordered">
  <div class="row">
    <div class="col-9">
      <h3 class="p-muted-heading u-sv2">Something missing?</h3>
      <p class="p-heading--3">If you would like to see a topic covered but you don't have the knowledge, submit an idea
        to the team.</p>
      <p>
        <a href="https://discourse.canonical.com/c/masterclasses/suggested-ideas/79"
          class="p-button u-no-margin--bottom">
          Register an idea
        </a>
      </p>
    </div>
  </div>
</section>

<script defer>
(function () {
  var keys = {
    left: 'ArrowLeft',
    right: 'ArrowRight',
  };

  var direction = {
    ArrowLeft: -1,
    ArrowRight: 1,
  };

  /**
    Attaches a number of events that each trigger
    the reveal of the chosen tab content
    @param {Array} tabs an array of tabs within a container
  */
  function attachEvents(tabs) {
    tabs.forEach(function (tab, index) {
      tab.addEventListener('keyup', function (e) {
        if (e.code === keys.left || e.code === keys.right) {
          switchTabOnArrowPress(e, tabs);
        }
      });

      tab.addEventListener('click', function (e) {
        e.preventDefault();
        setActiveTab(tab, tabs);
      });

      tab.addEventListener('focus', function () {
        setActiveTab(tab, tabs);
      });

      tab.index = index;
    });
  }

  /**
    Determine which tab to show when an arrow key is pressed
    @param {KeyboardEvent} event
    @param {Array} tabs an array of tabs within a container
  */
  function switchTabOnArrowPress(event, tabs) {
    var pressed = event.code;

    if (direction[pressed]) {
      var target = event.target;
      if (target.index !== undefined) {
        if (tabs[target.index + direction[pressed]]) {
          tabs[target.index + direction[pressed]].focus();
        } else if (pressed === keys.left) {
          tabs[tabs.length - 1].focus();
        } else if (pressed === keys.right) {
          tabs[0].focus();
        }
      }
    }
  }

  /**
    Cycles through an array of tab elements and ensures
    only the target tab and its content are selected
    @param {HTMLElement} tab the tab whose content will be shown
    @param {Array} tabs an array of tabs within a container
  */
  function setActiveTab(tab, tabs) {
    tabs.forEach(function (tabElement) {
      var tabContent = document.getElementById(tabElement.getAttribute('aria-controls'));

      if (tabElement === tab) {
        tabElement.setAttribute('aria-selected', true);
        tabContent.removeAttribute('hidden');
      } else {
        tabElement.setAttribute('aria-selected', false);
        tabContent.setAttribute('hidden', true);
      }
    });
  }

  /**
    Attaches events to tab links within a given parent element,
    and sets the active tab if the current hash matches the id
    of an element controlled by a tab link
    @param {String} selector class name of the element
    containing the tabs we want to attach events to
  */
  function initTabs(selector) {
    var tabContainers = [].slice.call(document.querySelectorAll(selector));

    tabContainers.forEach(function (tabContainer) {
      var tabs = [].slice.call(tabContainer.querySelectorAll('[aria-controls]'));
      attachEvents(tabs);
    });
  }

  document.addEventListener('DOMContentLoaded', function () {
    initTabs('[role="tablist"]');
  });
})();
</script>

<script defer>
  let images = document.querySelectorAll('.p-card__image');
  images.forEach(function (image) {
    image.onerror = function () {
      image.src = 'https://assets.ubuntu.com/v1/a647fb72-Copy%20of%20Canonical%20Slides%20Template.jpg';
    }
  });

  const resetChips = () => {
    Array.from(document.getElementsByClassName("p-chip--positive")).forEach((chip) => {
      const neutralChip = changeTag(chip, "button");
      const dismissBtn = neutralChip.lastChild;
      neutralChip.removeChild(dismissBtn);
      neutralChip.className = "p-chip";
      neutralChip.addEventListener("click", () => handleChipClick(neutralChip));
    });
  }

  const resetCards = () => {
    Array.from(cards).forEach((card) => {
      card.style.display = "block";
    });
  }

  const resetSearch = document.getElementById('reset-search');
  const searchInput = document.getElementById('search-input');
  const cards = document.querySelectorAll('.p-card');
  const submitButton = document.getElementById('submit-search');

  searchInput.addEventListener('input', () => {
    const searchText = searchInput.value.toLowerCase();
    resetChips();
    cards.forEach((card) => {
      const title = card.querySelector('.card-title')?.textContent.toLowerCase();
      if (title?.includes(searchText)) {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
  });
  resetSearch.addEventListener('click', resetCards);
  // Prevent form submission
  submitButton.addEventListener('click', (e) => {
    e.preventDefault();
  })

  const changeTag = (node, tag) => {
    const clone = document.createElement(tag)
    for (const { name, value } of node.attributes) {
      clone.setAttribute(name, value);
    }
    while (node.firstChild) {
      clone.appendChild(node.firstChild)
    }
    node.replaceWith(clone)
    return clone
  };

  const handleChipClick = (chip) => {
    searchInput.value = "";
    resetChips();

    const dismissBtn = document.createElement("button");
    dismissBtn.className = "p-chip__dismiss";
    dismissBtn.innerHTML = "Dismiss";
    dismissBtn.addEventListener("click", function () {
      resetChips();
      resetCards();
    });

    const positiveChip = changeTag(chip, "span");
    positiveChip.className = "p-chip--positive";
    positiveChip.appendChild(dismissBtn)

    // show sessions with this tag
    const tag = positiveChip.getElementsByTagName("span")[0].innerHTML;
    Array.from(cards).forEach((card) => {
      if (card.dataset.tags.includes(tag)) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });
  }

  Array.from(document.getElementsByClassName("p-chip")).forEach((el) => el.addEventListener("click", () => handleChipClick(el)));

</script>


{% include "shared/_pagination.html" %}

{% endblock %}
