{% extends "base.html" %}

{% block title %}
Canonical Masterclasses
{% endblock %}

{% block content %}

<div class="p-strip is-shallow is-bordered">
  <div class="row">
    <div class="col-12">
      <iframe src="https://drive.google.com/file/d/{{ session.video_id }}/preview" allow="autoplay" width="800"
        height="480" allowfullscreen class="u-no-margin--left iframe-video"></iframe>
      <h1 class="is-wrapped">{{ session.topic }}</h1>
      <p class="u-text--muted u-no-margin--bottom">{{ session.owner }} on {{ session.date }}</p>

      <ul class="p-inline-list--middot">
        {% if session.tags %}
        <li class="p-inline-list__item u-text--muted">Tags: {{ session.tags }}</li>
        {% endif %}

        {% if session.slides %}
        <li class="p-inline-list__item">
          <a href="{{ session.slides }}" target="_blank">Slides</a>
        </li>
        {% endif %}

        {% if session.recording %}
        <li class="p-inline-list__item">
          <a href="{{ session.recording }}" target="_blank">Drive link
          </a>
        </li>
        {% endif %}
      </ul>


      {% if session.description %}
      <p>{{ session.description }}</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}