<div class="p-card u-no-padding" data-tags="{{ session.tags }}">
  {% if session.recording %}
  <a href="{{ session.recording }}" aria-hidden="true" tabindex="-1">
    <img loading="lazy" class="p-card__image" alt="{{ session.topic }} video" src="{{ session.thumbnails }}">
  </a>
  <div class="p-card__inner">
    <h3 class="p-heading--5 u-no-margin--bottom card-title"><a href="{{ session.recording }}">{{ session.topic }}</a>
    </h3>
    {% if session.description %}
    <p>{{ session.description }}</p>
    {% endif %}
    {% if session.slides %}
    <a href="{{ session.slides }}" target="_blank">Slides
    <i class="p-icon--external-link"></i>
    </a>
    {% endif %}
    {% if session.tags %}
    <p class="u-text--muted u-no-margin--bottom">{{ session.tags }}</p>
    {% endif %}
    <p class="u-text--muted u-no-margin--bottom">{{ session.duration }}</p>
  </div>
  <hr class="u-no-margin--bottom">
  <div class="p-card__inner">
    by {{ session.owner }} on {{ session.date }}
  </div>
  {% else %}
  <div class="p-card__inner">
    <h3 class="p-heading--5 u-no-margin--bottom card-title">{{ session.topic }}</h3>
    <p>{{ session.description }}</p>
    <p>Sorry we forgot to record this session.</p>
  </div>
  <hr class="u-no-margin--bottom">
  <div class="p-card__inner">
    by {{ session.owner }} on {{ session.date }}
  </div>
  {% endif %}
</div>