{% macro video_card(video) %}
<div class="p-card video-card u-no-padding u-no-margin--bottom"
    data-topics="{{ video.tags|selectattr('category.name', 'equalto', 'Topic')|map(attribute='name')|map('lower')|map('replace', ' ', '-')|join(' ') }}"
    data-events="{{ video.tags|selectattr('category.name', 'equalto', 'Event')|map(attribute='name')|map('lower')|map('replace', ' ', '-')|join(' ') }}"
    data-dates="{{ video.tags|selectattr('category.name', 'equalto', 'Date')|map(attribute='name')|map('lower')|map('replace', ' ', '-')|join(' ') }}"
    data-presenters="{{ video.presenters|map(attribute='name')|map('lower')|map('replace', ' ', '-')|join(' ') }}">
    
    <div class="p-card__image u-image-position">
        <a href="/videos/{{ video.title|slugify }}-class-{{ video.id }}">
            <div class="thumbnail-wrapper">
                <img loading="lazy" alt="{{ video.title }} video"
                    src="{{ video.thumbnails or 'https://assets.ubuntu.com/v1/8e1d3bf5-juju-hero-juju.is.svg' }}"
                    class="u-image-position--bottom">
                {% set duration = (video.unixend - video.unixstart) // 60 if video.unixend and video.unixstart else 0 %}
                <div class="duration-badge u-image-position--bottom u-image-position--right">{{ duration }} mins</div>
            </div>
        </a>
    </div>

    <div class="p-card__inner u-no-padding--top">
        <h2 class="u-no-margin--bottom p-text--small">
            <a class="video-title p-link--soft" href="/videos/{{ video.title|slugify }}-class-{{ video.id }}">{{ video.title }}</a>
        </h2>

        {% if video.unixstart %}
        <p class="u-text--muted video-tags u-no-margin--bottom u-no-padding--top" style="font-size: 0.7rem;">
            {{ video.unixstart|format_date }}
        </p>
        {% endif %}

        {% if video.presenters %}
        <p class="u-no-padding--top video-presenters u-text--muted u-no-padding--top" style="font-size: 0.7rem;">
            {% if video.presenters|length <= 2 %}
                {% for presenter in video.presenters %}
                    {{ presenter.name }}{% if not loop.last %} and {% endif %}
                {% endfor %}
            {% else %}
                {{ video.presenters[0].name }}, {{ video.presenters[1].name }}, et al.
            {% endif %}
        </p>
        {% endif %}



    </div>
</div>
{% endmacro %}