@import "vanilla-framework";
@include vanilla;

// Import icons from vanilla-framework
@import 'vanilla-framework/scss/patterns_icons';
@include vf-p-icons-common;
@include vf-p-icon-notifications;

.p-card {
  width: 16rem;
}

.u-equal-height {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .iframe-video {
    height: 225px;
  }
}

.iframe-video {
  border: 0px solid #000000;
  background: #000000bf;
  box-shadow: 0 0.25vmax 1vmax #000000bf;
}
